doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= Game
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrapper.overlay-full
      canvas#canvas(width='640px', height='480px')
        | Не поддерживает канвас.
    #scoreboard.overlay-full
      span#scoreboard-text.overlay-text
        | Таблица рекордов
      span#scoreboard-close(onclick='scoreboard(false);')
        | Закрыть
    #overlay.overlay-full
      input#name(value="Введите имя" type="text")
      button#ok-button.btn-start(onclick='launch();')
        | Старт
      img#IdImg(src=("../resource/images/futbik.png"))
    span
      button#info.btn-records(onclick='scoreboard(true);') Рекорды
      button#pause.btn-pause(onclick='alert("Пауза")') Пауза
      button#quit.btn-quit(onclick='if( confirm(`Вы дейcтвительно хотите покинуть игру?`) ) {location.reload();}') Выход
    script(src='engine/mapManager.js')
    script.
        let canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        canvas.width = 640;
        canvas.height = 480;
        // context.moveTo(0, 0);
        // context.lineTo(canvas.width, canvas.height);
        // context.moveTo(canvas.width, 0);
        // context.lineTo(0, canvas.height);
        // context.strokeStyle = 'black';
        // context.lineWidth = 10;
        // context.stroke();
        context.fillStyle = "#9ea7b8"
        var map  = new mapManager();
        map.loadMap("resource/maps/first_level.json");
        map.draw(context);
        context.strokeRect(50, 50, 10, 10);
        context.moveTo(0, 0);
        context.lineTo(canvas.width, canvas.height);
        context.moveTo(canvas.width, 0);
        context.lineTo(0, canvas.height);
        context.strokeStyle = 'black';
        context.lineWidth = 10;
        context.stroke();
        map.draw(context);
    //script(src='engine/mapManager.js')
    //script(src='engine/spriteManager.js')
    //script(src='engine/eventsManager.js')
    //script(src='engine/gameManager.js')
    //script(src='engine/physicManager.js')
    //script(src='engine/spin.js')
    //script(src='engine/hudManager.js')
    //script(src='engine/scoreManager.js')
    //script(src='engine/audioManager.js')
    //script(src='engine/entity.js')
    //script(src='resource/mapsDescription.js')
    //script(src='resource/entities/player.js')
    //script(src='resource/entities/trigger.js')
    //script(src='resource/entities/cartridges.js')
    //script(src='resource/entities/enemyBullet.js')
    //script(src='resource/entities/testBullet.js')
    //script(src='resource/entities/enemy.js')
    //script(src='resource/entities/enemyBody.js')
    script(src='settings.js')
    //block content
